<?xml version="1.0" encoding="utf-8" ?>
<configuration>


    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Vb.net_POS_Prebuild.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <Vb.net_POS_Prebuild.My.MySettings>
            <setting name="LogoPath" serializeAs="String">
                <value />
            </setting>
        </Vb.net_POS_Prebuild.My.MySettings>
    </userSettings>

	<connectionStrings>
		<add name="POS_DB"
			 connectionString="Server=.\SQLEXPRESS;Database=POS_DB;Trusted_Connection=True;"
			 providerName="System.Data.SqlClient"/>
	</connectionStrings>
</configuration>
